*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
/*	font-family: 'Fredoka One', cursive;  dunkin
	font-family: 'Open Sans', sans-serif; for quotes*/ 
}


img[alt*="brandlogo"]{
	width: 250px;
	height: 50px;
	margin-top: 5%;
	margin-left: 20%;
}



#bonjour{
	font-family: 'Fredoka One', cursive;
	margin-left: 13%;
}


.navbar{
	background-color: #f7931e;
}

.bounce>a{
	color:#f2f2f2;
}

li>a{
	color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;

}

#bonjour{
	font-family: 'Fredoka One', cursive;
	margin-bottom: 5%;
}


#circle{
	height: 200px;
	width: 200px;
	background-color: #f2f2f2;
	border-radius: 	50%;
	margin-left: 20%;
	margin-bottom: 10%;
}


#nav-item{
 	padding-left: 10%;
}



.nav-item>a:hover{
	color:#333333;
	text-decoration: underline;
}

.nav-link{
	padding-right: 10%; 
}



img[alt*="card-image"]:hover{
	transform: scale(1.3);
}

.ul-devskill>li{
	list-style: none;
	display: block;
}

ul{
	padding-left: 0px;
}




/*about*/



.jumbotron{
	background-color: #f7931e;
	color: #f2f2f2;
	font-family: 'Contrail One', cursive;
}



.jumbotron-p>p{
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 16px;
		margin-left: 15%;

}




body { background: #f2f2f2;}


.arrow {
  text-align: center;
  margin: 20% 0;
/*  padding-right: 60vh;*/
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* END OF ABOUT*/


/* SKILLS */

.fab,.fas{
	margin-right: 1%;
}


.skill-container{
	height: 90vh;
}


.skills{   
	font-family: 'Fredoka One', cursive;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}


.devskill{ 			 /*front end*/
	padding-top: 3%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
}


.checked{    			/*star*/
	color:orange;
}

li{ 
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1%;
	padding-top: 1%;
}

.fa-star{
	padding-left: 20px;
}
  

.jumbotron2{
	background-color: #f7931e;
	color:#f2f2f2;
}



/*PROJECT*/




.project{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

.card{
	margin-bottom: 10%;
	border-top: 5px solid #333;
	box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);
}


.card-body{
	color: #333333;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;

}



/*start of footer*/

.footer-ul>li{
	padding-left: 13vh;
	display: inline;
	list-style: none;
}

.foot-nav>a:hover{
	color: orange;
	text-decoration: none;
}



footer{
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
	background-color: #333;
	padding-top: 5%;
	padding-bottom: 5%;
}


/*.form-group*/ .form-control{
	width: 200px;
	height: 20px;
	font-size: 12px;
	background-color: transparent;
	border-radius: 0;
	border-color: transparent;
	border-bottom: 1px solid grey;
}


.textarea{
	font-size: 10px;
	background-color: transparent;
	width: 200px;
	border-radius: 0;
	border-bottom: 1px solid grey;
}

label{
	font-size: 10px;
	font-style: italic;
}

.send{
	margin-left: 10%;
	width: 150px;
	height: 30px;
	font-size: 12px;
}


.send1{
	width: 150px;
	height: 30px;
	font-size: 12px;
	margin-left: 28%;
}


.contact{
	font-family: 'Fredoka One', cursive;
	text-align: center;
	padding-bottom: 5%;

}

#footer-form{
	padding-left: 20%;
	margin-bottom: 10%;
}


address{
	padding-top: 5%;
	text-align: center;
	font-size: 12px;
	font-style: italic;
    font-family: 'Roboto', sans-serif;
}




#icon{
	margin-top: 5%;
	margin-left: 33%;
}





/* Desktop Styles*/

@media only screen and (min-width: 961px) {
  body {
  	background-color: #f2f2f2;
/*  	background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
  }


 #nav-item{
 	padding-right: 10%;
}


.jumbotron{
	height: 100vh;
}

.jumbotron-p{
	padding-top: 4%;
	padding-right: 15%;
}


#bonjour{
	font-family: 'Fredoka One', cursive;
	margin-left: 15%;
}

#circle{
	margin-left: 60%;
}


.jumbotron-p>p{
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 16px;
}



/*FOOTER*/

.footer-ul>li{
	padding-left: 13vh;
	margin-top: 15%;
	}


address{
	text-align: justify;
	padding-top: 5%;
	padding-left: 25%;
	padding-bottom: 5%;
}

.contact{
	text-align: center;
	padding-left: 25%;
	padding-bottom: 5%;

}

#footer-form{
	padding-left: 40%;
}




/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: white; /* Yellow */
  }


.jumbotron{
	color: #f2f2f2;
	height: 1024px;
	width: auto;
}

.jumbotron-p{
	text-align: center;

}

#bonjour{
	margin-bottom: 20%;
	font-family: 'Fredoka One', cursive;
}



/*FOOTER*/


#footer-form{
	padding-left: 40%;
}

.footer-ul>li{
	list-style: none;
	display: inline;
}



 




/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: white; /* Red */

  }